Source: xf86-video-armsoc-xilinx
Section: x11
Priority: optional
Homepage: <https://github.com/ikwzm/xf86-video-armsoc-xilinx>
Maintainer: ikwzm <ichiro_k@ca2.so-net.ne.jp>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
               libdrm-dev (>= 2.2),
               libudev-dev,
               libxext-dev,
               pkg-config,
               xutils-dev,
               xserver-xorg-dev (>= 2:1.9.4),
               quilt,
               dh-autoreconf

Package: xserver-xorg-video-armsoc-xilinx
Architecture: armhf arm64
Depends: ${shlibs:Depends},
         ${misc:Depends},
         xserver-xorg-core
Provides: ${xviddriver:Provides}
Description: X.Org X Server -- ARM SoC display driver for rockchip, amlogic, sunxi and Xilinx(ZynqMP) DRM (mainline kernel)

